@model Demo1.Models.Department
@{
    ViewBag.Title = "addEdit";
}

<h2>AddEdit</h2>


<form action="/Department/AddEdit" method="post" enctype="multipart/form-data">


    <table>

        <tr>

            <td>@Html.HiddenFor(m => m.Id)</td>

        </tr>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</td>

        </tr>
      
        <tr>
            <td>

                <button class="btn btn-primary" type="submit">Submit</button>



            </td>
            <td>
                <a class="btn btn-secondary" href="/Department/index">Back to Home</a>
            </td>
        </tr>
    </table>





</form>
